<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.oj.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.mo.oj.pojo.User">
        insert into user(name,
                         password,
                         role,
                         email,
                         email_status,
                         point,
                         picture,
                         create_time)
        values (#{name},
                #{password},
                #{role},
                #{email},
                #{email_status},
                #{point},
                #{picture},
                now())
    </insert>

    <update id="updateUserById" parameterType="com.mo.oj.pojo.User">
        update user set
        <if test="name !=null and name !=''">
            name = #{name},
        </if>
        <if test="password !=null and password !=''">
            password = #{password},
        </if>
        <if test="sex !=null">
            sex = #{sex},
        </if>
        <if test="role !=null">
            role = #{role},
        </if>
        <if test="birthday !=null">
            birthday = #{birthday},
        </if>
        <if test="email !=null and email !=''">
            email = #{email},
        </if>
        <if test="email_status !=null">
            email_status = #{email_status},
        </if>
        <if test="point !=null">
            point = #{point},
        </if>
        <if test="verify_code !=null and verify_code !=''">
            verify_code = #{verify_code},
        </if>
        <if test="prefer_language !=null">
            prefer_language = #{prefer_language},
        </if>
        <if test="picture !=null and picture !=''">
            picture = #{picture},
        </if>
        modify_time=now()
        where id=#{id}
    </update>

    <update id="updatePasswordByNameAndEmailAndVerifyCode" parameterType="com.mo.oj.pojo.User">
        update user
        set password   = #{password},
            modify_time=now()
        where name = #{name}
          and email = #{email}
          and verify_code = #{verify_code}
    </update>

    <select id="searchUserSolveProblemInfoGroupByDifficulty" parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
        select difficulty, count(*) as count
        from problem
        where id in (select problem_id from submission where user_id = #{user_id} and status = 1 group by problem_id)
        group by difficulty
    </select>

    <select id="searchProblemCountGroupByDifficulty" resultType="java.util.HashMap">
        select difficulty, count(*) as count
        from problem
        group by difficulty
    </select>
    <!--
        <select id="searchProblemListByCondition" resultType="com.mo.oj.pojo.Problem">
            select p.*
            from problem p ,tag t
            where 1=1 and
            <if test="status!=null and status!=0">
                p.id
                <if test="status!=null and status ==1">
                    /* 状态：未开始；有提交记录的，都是做了的题目，所以取个反就行啦！*/
                    not
                </if>
                in
                (select problem_id
                from submission
                where 1=1
                <if test="status!=null and status ==2">
                    and status = 1 /* 状态：已解决；有提交记录，要查询当前用户已通过的题目*/
                </if>
                <if test="status!=null and status ==3">
                    /* 状态：尝试过；有提交记录的，且用户当前提交了代码但是未做对的题目。我的想法是：先排除掉用户以解决的题目*/
                    and status ！= 1
                    and problem_id not in (select problem_id from submission where status =1 and user_id=#{user_id})
                </if>
                /*处理边界值条件，*/
                <if test="user_id!=null and status!=null and status &lt;=3 and status &gt;=1">
                    and user_id = #{user_id}
                </if>
                )
            </if>
            <if test="tag!=null and tag!=0">
                and t.id in(select problem_id from problem_tag where tag_id=#{tag})
            </if>
            <if test="difficulty!=null and difficulty !=0">
                and p.difficulty=#{difficulty}
            </if>
            <if test="keyword!=null and keyword !=''">
                and( p.title like concat(concat('%',#{keyword}),'%') or p.id like concat(concat('%',#{keyword}),'%'))
            </if>
            order by p.id ASC limit #{start},30
        </select>


        <select id="findMiorCount" resultType="java.lang.Integer" parameterType="java.util.Map">
            select count(1) from m_in_out_repository
            where 1=1
            <if test="bid !=null and bid !=''">
                and bid like concat(concat('%',#{bid}),'%')
            </if>
            <if test="status !=null">
                and status =#{status}
            </if>
            <if test="repository_id !=null">
                and repository_id =#{repository_id}
            </if>
            <if test="dayTime !=null">
                and DATE_SUB(CURDATE(), INTERVAL #{dayTime} DAY) &lt;= date(create_time)
            </if>
            and status is not null
        </select>-->

</mapper>